src/main/mule/worldtime-demo-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b8f5aef4-9640-42e9-a0e9-6428b5b93de3" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8089" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="727efb70-6dc2-4e1c-ad52-2c9f102f3173" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="worldtime-demo-cicdFlow" doc:id="91aea073-6ad1-4363-bb33-87da8b935154" >
		<http:listener doc:name="Get /timezone/{region}/{city}" doc:id="398fef7e-0cc3-4468-9e14-b7cfdf52041d" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="HTTPRequest" doc:id="69b32f5a-0c6d-445a-909e-88b73e4a1408" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="896d5cbf-dc42-42f2-9393-18473a812d0d" message="#[payload]"/>
	</flow>
</mule>
